#set($groupId = $metadata.getGroupId())
package $groupId;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.orm.jpa.EntityScan;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

@Controller
@SpringBootApplication(scanBasePackages = {"com.yqboots", "$groupId"})
@EnableJpaRepositories(basePackages = {"com.yqboots", "$groupId"})
@EntityScan(basePackages = {"com.yqboots", "$groupId"})
@ComponentScan(basePackages = {"com.yqboots", "$groupId"})
public class Application {
    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
    }

    @RequestMapping(value = "/")
    public String home() {
        return "index";
    }
}
