#set($groupId = $metadata.getGroupId())
package $groupId;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.orm.jpa.EntityScan;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.EnableAspectJAutoProxy;
import org.springframework.data.jpa.repository.config.EnableJpaAuditing;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;

@SpringBootApplication(scanBasePackages = {"com.yqboots", "$groupId"})
@EnableJpaRepositories(basePackages = {"com.yqboots", "$groupId"})
@EntityScan(basePackages = {"com.yqboots", "$groupId"})
@ComponentScan(basePackages = {"com.yqboots", "$groupId"})
@EnableJpaAuditing
@EnableAspectJAutoProxy(proxyTargetClass = true)
public class Application {
    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
    }
}
