<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{P01T0001}">Project Initializer</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="PROJECTS_INITIALIZER" />
</div>
<div layout:fragment="content" class="container content">
  <div class="margin-bottom-40">
    <h3 th:utext="#{P01T0015}">Starts your project</h3>

    <form class="sky-form" action="#" th:action="@{/projects/initializer/}" th:object="${model}" method="post"
        enctype="multipart/form-data">
      <header th:text="#{P01T0002}">Project Metadata</header>

      <div class="row">
        <div class="col-md-9">
          <fieldset>
            <div class="row">
              <section class="col col-4">
                <label class="label"><span th:text="#{P01T0003}">Name</span>:</label>
                <label class="input">
                  <input type="text" maxlength="30" th:field="*{metadata.name}"/>
                  <b class="tooltip tooltip-top-right"><span th:text="#{P01T0004}">Project Name</span></b>
                </label>

                <p th:if="${#fields.hasErrors('metadata.name')}" th:errors="*{metadata.name}"></p>
              </section>
              <section class="col col-8">
                <label class="label"><span th:text="#{P01T0005}">Description</span>:</label>
                <label class="input">
                  <input type="text" th:field="*{metadata.description}" maxlength="64"/>
                  <b class="tooltip tooltip-top-right" th:text="#{P01T0006}">Some description about the project</b>
                </label>

                <p th:if="${#fields.hasErrors('metadata.description')}" th:errors="*{metadata.description}"></p>
              </section>
            </div>
            <div class="row">
              <section class="col col-6">
                <label class="label"><span th:text="#{P01T0007}">Group</span>:</label>
                <label class="input">
                  <input type="text" th:field="*{metadata.groupId}" maxlength="30"/>
                  <b class="tooltip tooltip-top-right" th:text="#{P01T0008}">For example: com.company.project</b>
                </label>

                <p th:if="${#fields.hasErrors('metadata.groupId')}" th:errors="*{metadata.groupId}"></p>
              </section>
              <section class="col col-6">
                <label class="label"><span th:text="#{P01T0009}">Artifact</span>:</label>
                <label class="input">
                  <input type="text" th:field="*{metadata.artifactId}" maxlength="20"/>
                  <b class="tooltip tooltip-top-right" th:text="#{P01T0010}">For example: project-core</b>
                </label>

                <p th:if="${#fields.hasErrors('metadata.artifactId')}" th:errors="*{metadata.artifactId}"></p>
              </section>
            </div>
          </fieldset>
        </div>
        <div class="col-md-3">
          <fieldset>
            <section>
              <label class="label"><span th:text="#{P01T0011}">Theme Skin</span>:</label>
              <label class="select">
                <select th:field="*{theme.skin}">
                  <yq:options name="THEME_SKIN"/>
                </select>
                <i></i>
              </label>
            </section>
            <section>
              <label class="label"><span th:text="#{P01T0012}">Theme Color</span>:</label>
              <label class="select">
                <select th:field="*{theme.color}">
                  <yq:options name="THEME_COLOR"/>
                </select>
                <i></i>
              </label>
            </section>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <section>
              <label class="label"><span th:text="#{P01T0013}">Input a File (Excel Format)</span>:</label>
              <label class="input input-file">
                <div class="button">
                  <input name="file" type="file" th:field="*{file}" /><span th:text="#{P01T0014}">Browse</span>
                </div>
                <input type="text" readonly="readonly"/>
              </label>
            </section>
          </fieldset>
        </div>
      </div>
      <footer>
        <button class="btn-u rounded" id="submit" type="submit" th:text="#{T0012}">Submit</button>
        <button class="btn-u rounded" id="cancel" type="button" th:text="#{T0066}">Cancel</button>
      </footer>
    </form>
  </div>
</div>
</body>
</html>