#set($domainName = $domain.getName())
#set($baseViewUrl = $domain.getModule() + "/" + $domainName)
#set($baseUrl = "/" + $baseViewUrl)
#set($formUrl = $baseUrl + "/")
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title>Domain Management</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="$domainName"/>
</div>
<div layout:fragment="content" class="content content-sm height-600">
  <div class="container">
    <form class="sky-form" action="#" th:action="@{$formUrl}" th:object="${model}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <header>Domain Maintenance Form</header>
      <fieldset>
#foreach($item in $domain.getProperties())
        <section>
          <label class="label" th:text="$item.getClassField()">$item.getClassField()</label>
          <label class="input">
            <input type="text" th:field="*{$item.getClassField()}"/>
          </label>

          <p th:if="${#fields.hasErrors('$item.getClassField()')}" th:errors="*{$item.getClassField()}"></p>
        </section>
#end
      </fieldset>
      <footer>
        <button class="btn-u rounded" id="submit" type="submit" th:text="#{T0012}">Submit</button>
        <button class="btn-u rounded" id="cancel" type="button" th:text="#{T0066}">Cancel</button>
      </footer>
    </form>
  </div>
</div>
</body>
</html>